@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#wrapper {
  margin: 0 auto;
  width: 70%;
  min-height: 100%;
  padding: 20px;
}

h5 {
  margin-bottom: 4px;
}

 h2 {
  text-decoration: underline;
}

#categories p {
  padding: 20px;
  background-color: #DDD;
  border: 1px solid;
}

/* Styles for jQuery Project */
body {
  background-color: #FAF8E6;
  font-family: 'Open Sans', sans-serif;
}

button {
  border-radius: 5px;
}
.categoryItem {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #375D3B;
  color: #C4D7A4;
  border: 1px solid #C4D7A4;
  border-radius: 25px;
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}
.contactItem {
  list-style-type: none;
  background-color:#C4D7A4;
  color: #375D3B;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #375D3B;
  border-radius: 15px;
  /*margin-bottom: 10px;*/
}

.divContactItem {
  margin-bottom: 10px;
}

#submit {
  margin-top: 5px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h2 {
  font-size: 3.5em;
}


textarea {
  margin-bottom: 8px;
}
