#wrapper {
  margin: 0 auto;
  width: 70%;
  min-height: 100%;
  padding: 20px;
  background-color: #ABC8A4;
}

h5 {
  margin-bottom: 4px;
}

 h2 {
  text-decoration: underline;
}

#categories p {
  padding: 20px;
  background-color: #DDD;
  border: 1px solid;
}

/* Styles for jQuery Project */
body {
  background-color: #ABC8A4;
}

button {
  border-radius: 5px;
}
.categoryItem {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #375D3B;
  border: 1px solid;
  border-radius: 25px;
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}
.contactItem {
  list-style-type: none;
  background-color:#C4D7A4;
  padding: 20px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 25px;
  /*margin-bottom: 10px;*/
}

.divContactItem {
  margin-bottom: 10px;
}
