#wrapper {
  margin: 0 auto;
  width: 70%;
}

h5 {
  margin-bottom: 4px;
}

 h2 {
  text-decoration: underline;
}

#categories p {
  padding: 20px;
  background-color: #DDD;
  border: 1px solid;
}

/* Styles for jQuery Project */
body {
  background-color: #F2EFDF;
}
.categoryItem {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #A1D78D;
  border: 1px solid;
  list-style-type: none;
}

.contactItem {
  list-style-type: none;
  background-color:#D7B48D;
  padding: 20px;
  font-size: 16px;
  border: 1px solid;
  margin-bottom: 10px;
}
